*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8));
    background-position: center;
    background-size: cover;
    position: relative;

}
.form-data{
    width: 90%;
    max-width: 450px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-data h1{
    font-size: 30px;
    padding-bottom: 15%;
    color: #3c00a0;
    position: relative;
}

.form-data h1::after{
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform:translateX(-50%);
    
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 14px 14px;
}

.input-field i{
    margin-left: 15px;
    color: #9999;
}

form p{
    text-align: left;
    padding-top: 20px;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
    cursor: pointer;
    font-weight: bold;
}

.btn{
    width: 60%;
    display: flex;
    margin-left: 100px;
    padding-top: 15px;
    
}

.btn button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;


}

.input-group{
    height: 220px;
}

.btnn{
    width: 60%;
    display: flex;
    margin-left: 5px;
    padding-top: 15px;
    
}

.btnn button{
    flex-basis: 48%;
    background:cadetblue;
    color: #fff;
    height: 40px;
    
    font-weight: bold;
    border: 0;
    outline: 0;
    cursor: pointer;

}